<div cdkDropListGroup class="week">
  <div class="week-day" *ngFor="let day of week">
    <h2 class="week-day__name">{{day.name}} {{day.date.getDate()}}</h2>
    <button class="week-day__add-button" (click)="$openNewForm.next(day.name)">Add task</button>
    <div class="week-day_new" *ngIf="($openNewForm | async) === day.name" >
      <span>{{day.date | date:'yyyy.mm.dd'}}</span>
      <button (click)="new(day.date)">Create</button>
      <button (click)="$openNewForm.next('')">Close</button>

      <form [formGroup]="newTaskForm" class="week-day_new_form">

        <label for="title">Task: </label>
        <input id="title" type="text" formControlName="title" required>

        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description" required>

        <label for="hour">Hour: </label>
        <input id="hour" type="text" formControlName="hour" required>

        <label for="duration">Duration: </label>
        <input id="duration" type="text" formControlName="duration" required>

      </form>

    </div>
    <div *ngFor="let hour of day.timeline" class="week-day_hour">
      <div
        cdkDropList
        [cdkDropListData]="hour.tasks"
        class="week-day_hour_tasks"
        (cdkDropListDropped)="dropTask($event)">

        <span class="week-day_hour_tasks__hours">{{hour.hour}}:00</span>

        <div class="week-day_hour_tasks_task" *ngFor="let task of hour.tasks" cdkDrag>
          <span class="week-day_hour_tasks_task__tittle">
          {{task.title}}{{task.description}}
          </span>
          <svg (click)="deleteTask(task)" class="week-day_hour_tasks_task__close" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.65984 170.65984q18.3296 0 30.49472 12.16512t12.16512 30.49472q0 18.00192-12.32896 30.33088l-268.67712 268.32896 268.67712 268.32896q12.32896 12.32896 12.32896 30.33088 0 18.3296-12.16512 30.49472t-30.49472 12.16512q-18.00192 0-30.33088-12.32896l-268.32896-268.67712-268.32896 268.67712q-12.32896 12.32896-30.33088 12.32896-18.3296 0-30.49472-12.16512t-12.16512-30.49472q0-18.00192 12.32896-30.33088l268.67712-268.32896-268.67712-268.32896q-12.32896-12.32896-12.32896-30.33088 0-18.3296 12.16512-30.49472t30.49472-12.16512q18.00192 0 30.33088 12.32896l268.32896 268.67712 268.32896-268.67712q12.32896-12.32896 30.33088-12.32896z"  /></svg>
        </div>
      </div>

    </div>

  </div>

</div>
