:host {

  .week {
    display: flex;
    flex-direction: row;
    gap: 1px;
    width: 80%;
    margin: 60px 0 0 20px;
    height: 80vh;
    overflow-y: scroll;

    &-day {
      width: 400px;
      position: relative;

      &__name {
        font-family: Arial;
        background: white;
        position: fixed;
        top: 0;
      }

      &__add-button {
        background: rgba(174, 246, 174, 0.4);
        color: white;
        border: 0;

        &:hover {
          cursor: pointer;
          background: rgba(174, 246, 174, 0.95);
        }
      }

      &_new {
        position: absolute;
        top: 10px;
        background: #cccccc;
        border: white;
        width: 300px;
        height: 600px;
        z-index: 3;
        display: flex;
        flex-direction: column;

        &_form {
          display: flex;
          flex-direction: column;
        }
      }

      &_hour {

        &_tasks {
          border: solid 1px #ccc;
          min-height: 60px;
          background: white;
          overflow: hidden;
          display: block;

          &__hour {
            font-size: 10px;
          }

          &_task {
            border: solid 1px #ccc;
            border-radius: 4px;

            &__tittle {
              font-size: 14px;
              font-weight: 500;
            }

            &__close {
              width: 10px;
              height: 10px;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  .week-day_hour_tasks_task__close {
    display: none;
  }
}

//.week-day_hour_tasks_task:last-child {
//  border: none;
//}

.week-day_hour_tasks.cdk-drop-list-dragging .week-day_hour_tasks_task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  .week-day_hour_tasks_task__close {
    display: none;
  }
}
